.imageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  width: 100%;
  height: 15rem;
}
.image {
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.header {
  color: white;
  margin-top: 20px;
}

.title {
  color: white;
  margin-top: 50px;
}

.cardsWrapper {
  display: grid;
  margin: 2rem 0;
  grid-template-columns: auto auto auto auto auto ;
  gap: 20px;

}

.membersContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media (width <= 768px) {
.header{
  font-size: 1.8em;
}
.cardsWrapper {
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}
.membersContainer{
  margin-bottom: 2rem;
}
}