.events-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    max-height: 90vh;
    background-color: #ff7000;
}

.events-container__inner {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #FFBE8C;

}




@media (width <= 768px) {

    .events-container__inner {
        width: 100%;
    }

}