.nav {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #FF7000;
    position: absolute;
    top: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.navbarCont {
    display: flex;
    height: 100%;
    width: 100%;
}

.logo {
    position: absolute;
    top: 0;
    margin-left: 100px;
}

.linksWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

li {
    display: inline;
    padding: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.iconWrapper {
    display: none;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 20px;
}

@media (max-width: 425px) {
    .linksWrapper {
        display: none;
    }

    .logo {
        margin-left: 30px;
        width: 40%;
    }

    .iconWrapper {
        display: flex;


    }

}