.cardContainer {
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 25rem;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 9px 18px -1px rgba(0, 0, 0, 0.7);
}

.imageContainer {
    display: flex;
    height: 12rem;
    width: 100%;
    position: relative;
    border-radius: 20px 20px 0px 0px;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.dateOverlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    background-color: var(--primary);
    border-radius: 20px 0px 20px 0px;
    box-shadow: 0px 9px 18px -1px rgba(0, 0, 0, 0.7);
    position: absolute;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    background-color: #e7eef1;
    height: 8rem;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.date {
    color: var(--primary);
    font-size: 1em;
    font-weight: 400;
}

.title {
    font-size: 1.5em;
}

.eventButton {
    border-style: none;
    box-shadow: 0px 25px 28px -11px rgba(0, 0, 0, 0.52);
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 8rem;
    height: 2rem;
    background-color: var(--secondary);
    color: white;
    font-size: 1em;
    border-radius: 20px;
    margin: 1rem;
    cursor: pointer;
}

.eventButton:enabled:hover {
    background-color: var(--primary);
}

.eventButton:disabled {
    opacity: 20%;
    cursor: auto;
}

.buttonAnchor {
    display: flex;
    align-self: flex-end;
}


@media (width <=425px) {
    .cardContainer {
        width: 18rem;
        margin-bottom: 1rem;
    }
}