/****************
MAIN IMAGE
****************/

.imageContainer {
  height: 38rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
}

.image {
  max-width: 64rem;
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 80%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 50%); */
}

.bar {
  width: 1rem;
  height: 100%;
  background-color: var(--primary);
  border-radius: 5px;
}

.barText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.mission {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 20rem;
  height: 10rem;
  background-color: white;
  position: absolute;
  right: 10%;
  bottom: 40%;
  color: var(--secondary);
  border-radius: 5px;
  box-shadow: 5px 5px 20px black;
}

.brand {
  color: var(--primary);
}

.title {
  padding: 3rem 0;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 5rem;
  margin: 3rem 0;
}

/****************
WHAT WE DO
****************/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e7eef1;
  padding: 0 2rem;
}

/****************
BECOME A MEMBER
****************/

.memberContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.memberTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.exec {
  width: 100%;
}

/****************
SPONSORSHIP
****************/

.sponsorContainer {
  background-color: var(--secondary);
}

.sponsorTitle {
  padding: 3rem 0;
  text-align: center;
  color: white;
}

.subtitle {
  text-align: center;
  color: white;
}

.sponsorImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.sponsors {
  border-radius: 20px;
  overflow: hidden;
  width: 90%;
  box-shadow: 5px 5px 20px black;
}

@media (width >= 768px) {
  .memberContainer {
    flex-direction: row;
  }

  .memberTitle {
    gap: 0.5rem;
  }

  .exec {
    width: 24rem;
  }

  .sponsors {
    width: 60%;
  }
}
