:root {
  font-family: "Dosis", "Open Sans", "Courier New", Courier, monospace;

  /* CSS Variables */
  --primary: #ff7000;
  --secondary: #3c3c3c;
}

#root {
  position: relative;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
